<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product App</title>
    <link rel="stylesheet" asp-append-version="true" href="@Url.Content("~/lib/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" asp-append-version="true" href="@Url.Content("~/css/site.css")">
    <link rel="stylesheet" asp-append-version="true" href="@Url.Content("~/lib/font-awesome/css/all.min.css")">
</head>

<body>
    <header>
        <partial name="_Navigationbar" />
        
        @RenderSection("Header", false)
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        Footer
    </footer>

    <script src="@Url.Content("~/lib/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/js/site.js")"></script>
    @await RenderSectionAsync("Scripts", false)
</body>

</html>